@page "/"
@inject IJSRuntime JsRuntime
@using MudBlazor
@implements IDisposable

<link href="css/index.css" rel="stylesheet" />

<div class="app-container">
    <!-- Robot Display -->
    <div class="robot-display">
        <img src="@_currentRobotImage" 
             alt="AI Buddy" 
             class="robot-image @(_isRobotActive ? "pulse-animation" : "")" />
    </div>

    <!-- Chat Interface -->
    <div class="chat-interface">
        <MudPaper Elevation="10" Class="pa-4" Style="height: 70vh; width: 100%;">
            <div class="chat-header">
                <MudText Typo="Typo.h6" Color="Color.Primary">Purple Pete Assistant</MudText>
            </div>

            <div class="messages-container">
                @foreach (var message in _messages)
                {
                    <div class="@($"message {(message.Sender == "You" ? "user-message" : "bot-message")}")">
                        @if (message.Sender != "You")
                        {
                            <div class="message-avatar">
                                <img src="/avatars/PurpleRobot.png" width="40" />
                            </div>
                        }
                        <MudPaper Elevation="1" Class="message-bubble pa-3">
                            <MudText>@message.Text</MudText>
                        </MudPaper>
                    </div>
                }

                @if (_isTyping)
                {
                    <div class="message bot-message">
                        <div class="message-avatar">
                            <img src="/avatars/PurpleRobotTalking.png" width="40" />
                        </div>
                        <MudPaper Elevation="1" Class="message-bubble pa-3 typing-bubble">
                            <div class="typing-animation">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </MudPaper>
                    </div>
                }
            </div>

            <div class="input-container">
                <MudTextField @bind-Value="_currentMessage" 
                             Variant="Variant.Outlined"
                             FullWidth="true"
                             Placeholder="Ask me anything..."
                             Immediate="true"
                             OnKeyDown="@OnKeyDown">
                    <Adornment>
                        <MudIconButton Icon="@Icons.Material.Filled.Send" 
                                     Color="Color.Primary"
                                     OnClick="SendMessage" />
                    </Adornment>
                </MudTextField>
            </div>
        </MudPaper>
    </div>
</div>
